@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime

<div class="container">
	<div class="content">
		<div class="tools">
			<div class="tool" @onclick="InsertBold">B</div>
			<div class="tool" @onclick="InsertItalic">I</div>
			<div class="tool" @onclick="InsertUnderline">U</div>
			<div class="tool" @onclick="InsertHeading1">H1</div>
			<div class="tool" @onclick="InsertHeading2">H2</div>
			<div class="tool" @onclick="InsertHeading3">H3</div>
			<div class="tool" @onclick="InsertList">
				<i class="fa-solid fa-list"></i>
			</div>
			<div class="tool" @onclick="InsertImageLink">
				<i class="fa-solid fa-image"></i>
			</div>
			<div class="tool" @onclick="Undo">
				<i class="fa-solid fa-rotate-left"></i>
			</div>
		</div>
		<div class="editor">
			<textarea @bind="@Content"
						id="@Id"
						@oninput="OnContentChanged"></textarea>
		</div>
	</div>
</div>

@code {

}
