<div class="container">
	<div class="content">
		<div class="editor">
			<MarkdownEditor Id="test-markdown" @bind-Content="InternalContent" />
		</div>
		<div class="preview">
			<MarkdownPreview Content="@InternalContent" />
		</div>
	</div>
</div>

@code {

}
