<div class="container">
	<div class="content">
		<div class="banner-first-line">Medical plaform</div>
		<div class="banner-second-line">General healthcare</div>
		<div class="search">
			<div class="search-icon-wrapper">
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
			<input type="text" placeholder="Enter to search ..."/>
		</div>
		<div class="download-options">
			<div class="option"></div>
			<div class="option"></div>
		</div>
		<div class="spacer"></div>
		<div class="exam-options">
			<HealthCheckOption To="/specialist" IconClass="fa-hospital">
				Specialist Examination
			</HealthCheckOption>
			<HealthCheckOption To="/remote" IconClass="fa-house-laptop">
				Remote Examination
			</HealthCheckOption>
			<HealthCheckOption To="/general" IconClass="fa-stethoscope">
				General Examination
			</HealthCheckOption>
			<HealthCheckOption IconClass="fa-bed">
				Medical Test
			</HealthCheckOption>
			<HealthCheckOption IconClass="fa-brain">
				Mental Health
			</HealthCheckOption>
			<HealthCheckOption IconClass="fa-tooth">
				Dental Examination
			</HealthCheckOption>
		</div>
	</div>
</div>

@code {

}
