@inject NavigationManager m_NavigationManager

<div class="container">
	<div class="content" @onclick="NavigateTo">
		<div class="icon-wrapper">
			<i class="fa-solid @IconClass"></i>
		</div>
		<div class="option-text">
			@ChildContent
		</div>
	</div>
</div>

@code {

}
