.container 
{
    border: 1px solid red;
}

.content 
{
    text-align: center;
    cursor: pointer;
}

.content:hover 
{
    color: aqua;
}

.icon-wrapper {
    margin: 0 auto;
    width: fit-content;
    padding: 8px 11px;
    background-color: white;
    color: black;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.option-text 
{
    font-weight: 500;
    font-size: 15px;
}

.option-text:hover 
{
}