@page "/login"
@inject NavigationManager m_NavigationManager
@inject LoginViewModel m_LoginViewModel

<PageTitle>Login</PageTitle>

<div class="container">
	<div class="content">
		<div class="title">
			Login
		</div>
		<div class="login-form">
			<Form @ref="m_FormRef" OnSubmit="OnLogin">
				<Input Label="Username" 
						IconClass="fa-solid fa-user"
						Placeholder="Type your username"
						@bind-Value="m_LoginViewModel.Username" />
				<Input Label="Password" 
						Type="InputType.Password"
						IconClass="fa-solid fa-lock"
						Placeholder="Type your password"
						@bind-Value="m_LoginViewModel.Password" />
			</Form>

			<div class="forgot-password-container">
				<div class="forgot-password-content" @onclick="OnClickForgotPassword">
					Forget password?
				</div>
			</div>
			<div class="login-button-container">
				<div class="login-button-content" @onclick="OnClickLogin">
					Login
				</div>
			</div>
		</div>
		<div class="login-options">
			<div class="login-options-title">
				Or login using
			</div>
			<div class="options">
				<div class="option option-facebook">
					<i class="option fa-brands fa-facebook-f"></i>
				</div>
				<div class="option option-twitter">
					<i class="fa-brands fa-twitter"></i>
				</div>
				<div class="option option-gmail">
					<i class="fa-brands fa-google"></i>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="sign-up">
			<div class="sign-up-title">
				Or sign up using
			</div>
			<div class="sign-up-button" @onclick="OnClickSignUp">Signup</div>
		</div>
	</div>
</div>

@code {

}
