.container 
{
    height: 75px;
    margin: 0 var(--wrapper-margin);
}

.content
{
    height: 100%; 
    width: 100%;
    display: flex;
}

.content-child 
{
    padding: 0 5px;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.brand
{
    /*border: 1px solid red;*/
    height: 100%;
}


.pages
{
    height: 100%;
}

.spacer
{
    flex: 3;
}

.pages, 
.spacer 
{
    flex: 3;
}


.support 
{
    /*border: 1px solid green;*/
    height: 100%;
}

.support,
.return-btn 
{
    flex: 1;
}

.return-btn 
{

}