@inject NavigationManager m_NavigationManager
@inject IStringLocalizer<Lang> m_Localizer

<div class="container">
	<div class="content">
		<div class="support" @onclick="NavigateToSupportLink">
			<i class="fa-solid fa-circle-question"></i>
			<span class="support-text">Support</span>
		</div>
	</div>
</div>

@code {

}
