@inject NavigationManager m_NavigationManager

<div class="container">
	<div class="content">
		<div class="language">
			Vi
		</div>
			<Button class="support" @onclick="NavigateToSupportLink">
				<i class="fa-solid fa-circle-question"></i>
				<span class="support-text">Support</span>
			</Button>
	</div>
</div>

@code {

}
