@using BookingCare.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly"
			AdditionalAssemblies="new [] { typeof(MainLayout).Assembly }">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
